H1#heading1
{
    color:white;
    text-align:center;
    background-color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:50px;
    border:15px ridge goldenrod;
    margin: 0 auto;
    text-transform:uppercase;
    
}
html,body{
    margin: 0;
}
header{
background:linear-gradient(180deg,violet,deeppink);
}

li{
   color:red;
   text-decoration: none;
   
}

li:nth-child(odd) a:visited{
    color:#FF0000
}
 li#ww{
    color:black;
    
     
     
 }
a:link { text-decoration: none;
    color:default;
 }
 p#topmenu a{
    color:yellow;
    background-color:rgb(19, 9, 159);
    padding:7px;
    border-radius: 40PX;
    text-shadow:0 0 3px #FF0000, 0 0 5px #0000FF;
    text-decoration: double;
}

img{
    width: 200px;
    height: 200px;
    object-fit: contain;
  }